body{
    text-align: center;
    background: #ecf0f1;
    font-family: "Poppins", sans-serif;
}

.header {
    padding: 4rem 0;
}

.header__title{
    font-size: 4rem;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10rem;
}

.main__intro{
    padding: 0 8rem;
}

.intro__title{
    font-size: 2rem;
}

.intro__text{
    margin: 2rem 0;
    line-height: 1.5;
}

.main__info{
    font-size: 1.5rem;
}

.main__cards{
    display: flex;
    justify-content: space-evenly;
    width: 60rem;
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 1rem;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
}

.cards__card{
    transition: transform 1s;
}

.cards__card:hover{
    transform: scale(1.1);
}

.card__text{
    font-size: 1.5rem;
    font-weight: 600;
}

.card__img{
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.main__forms{
    width: 60rem;
    padding: 1rem;
    text-align: start;
}

.main__forms input[type="text"], textarea{
    resize: none;
    width: 55rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    box-shadow: 1px 9px 20px -5px rgba(10, 99, 169, 0.16);
}

.forms__container{
    margin: 0.5rem;
    text-align: center;
}

.forms__container input[type="text"], textarea{
    margin: 0.5rem;
}

.main__forms input[type="text"]:focus, textarea:focus{
    outline: 1px solid rgb(195, 194, 194);
}

.btn__submit{
    width: 10rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: 700;
    color: red;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
    cursor: pointer;
}